.formDisplay {
    display: flex;
}

.centerDiv {
    display: inline-block;
}

.text {
    width: 90px;
    font-family: "Calibri";
    font-weight: bold;
}

.unit {
    position: absolute; 
    display: block;
     left: 28px;
      top: 4px;
       z-index: 9;
}

.input-box { position: relative; }

.code {
    display: block; border: 1px solid #d7d6d6; background: #fff; padding: 3px 10px 10px 20px; width: 60px;
}

#text:hover {
    color: blue;
    
}

.alignment {
    margin-left: 14px;
}



