<div class="container" >
    <fieldset class="border p-2">
        <legend class="w-auto">Registration</legend>
        <!-- Form Controls of User Registration -->
        <form [formGroup]="userform" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <div class="centerDiv w-75 p-3">
                    <div class="p-fluid forms-grid ml-4 mr-4" style="margin: 1em 0">
                        <!-- Full Name Field -->
                        <div class="formDisplay float-left">
                            <div class="text">Full Name </div>
                            <input class="ml-4" pInputText type="text" formControlName="firstname" [readOnly]="isView"/>
                        </div>
                        <!-- Profile Pic Field -->
                        <div class="formDisplay float-right">
                            <div class="text">Profile Pic </div>
                            <input hidden #file type="file"  accept='image/*' name="image" (change)="preview(file.files)" />
                            <img style="margin-right: -11px;" [src]="imgURL || ''" width="200" height="150" (click)='file.click()'>
                        </div>
                    </div>
                </div>

                <div class="centerDiv w-75 p-3">
                    <div class="p-fluid forms-grid ml-4 mr-4" style="margin: 1em 0">
                        <div class="formDisplay float-left w-50">
                            <!-- Mobile Field -->
                            <div class="text">Mobile </div>
                            <div class="input-box">
                                <input class="ml-4 code" pInputText type="text" formControlName="countrycode" />
                                <span class="unit">+</span>
                            </div>
                            <input class="ml-4" pInputText type="text" formControlName="mobnumber" />
                        </div>
                        <!-- Email Id -->
                        <div class="formDisplay float-right">
                            <div class="text">Email Id </div>
                            <input class="ml-4" pInputText type="text" formControlName="email" [readOnly]="isEmail"/>
                        </div>
                    </div>
                </div>
                <div class="centerDiv w-75 p-3">
                    <div class="p-fluid forms-grid ml-4 mr-4" style="margin: 1em 0">
                        <div class="formDisplay float-left">
                            <!-- Job Type -->
                            <div class="text">Job Type</div>
                            <div class="alignment">
                                <p-selectButton ml-4  [options]="position" formControlName="positionType" ></p-selectButton>
                            </div>
                            
                        </div>
                        <!-- Date of Birth -->
                        <div class="formDisplay float-right">
                            <div class="text">DOB </div>
                            <div style="margin-right: -25px;">
                                <p-calendar ml-4 [showIcon] = "true" dateFormat="dd/mm/yy" formControlName="date" size='45' ></p-calendar>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="centerDiv w-75 p-3">
                    <div class="p-fluid forms-grid ml-4 mr-4" style="margin: 1em 0">
                        <div class="formDisplay float-left">
                            <!-- Preferred location -->
                            <div class="text">Pref.Loc</div>
                            <div class="alignment">
                                <p-checkbox  value="Chennai" label="Chennai" binary="true" [(ngModel)]="chennai" [formControl]="this.userform?.controls['checkList']?.controls['cb1']" ></p-checkbox>
                                <p-checkbox  value="Bangalore" label="Bangalore" binary="true" [(ngModel)]="blore" [formControl]="this.userform?.controls['checkList']?.controls['cb2']" ></p-checkbox>
                                <p-checkbox   value="Pune" label="Pune" binary="true" [(ngModel)]="pune" [formControl]="this.userform?.controls['checkList']?.controls['cb3']" ></p-checkbox>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="float-right">
                        <button type="button" pButton icon="pi pi-check"  label="Add/Update" (click)="onSubmit()"></button>
                    </div>
                    
                </div>
            </div>
            
               
            
        </form>
    </fieldset>
</div>

<!-- Table Display of User -->
<div class="container pt-4" *ngIf="userDetails.length > 0">
    <p-table [value]="userDetails">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>DOB</th>
                <th>Job Type</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>+ {{user.countrycode}} {{user.mobile}}</td>
                <td>{{user.doj}}</td>
                <td>{{user.job}}</td>
                <td>
                    <span id="text" > Pic | </span>
                    <span id="text" (click)='edit(user.email)'> Edit | </span>
                    <span id="text" (click)='delete(user.email)'> Delete </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
